{
	frankenphp {
		num_threads {$NUM_THREADS}
		worker {
			file /home/user/ignis/bench/frankenphp/index.php
			num {$WORKER_NUM}
		}
	}
	admin off
	auto_https off
	log {
		level ERROR
	}
}

http://127.0.0.1:8081 {
	root /home/user/ignis/bench/frankenphp
	php_server
}
